<ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
</ul>

<%= form_for(@user) do |f| %>
  User name: <%= f.text_field :username, placeholder: "Your user name here" %><br />
  Email: <%= f.email_field :email, placeholder: "example@example.com"%><br />
  Password: <%= f.password_field :password %><br />
  <%= f.submit %>
<% end %>


<!-- <%= form_tag '/users',  method: :post do %>
    <%= hidden_field_tag 'authenticity_token' %>
  <div class="form-group">
  <%= label_tag 'username', 'Username' %>
  <%= text_field_tag "user[username]" %>
  </div>
  <div class="form-group">
  <%= label_tag 'email', 'Email' %>
  <%= email_field_tag 'user[email]' %>
  </div>
  <div class="form-group">
  <%= label_tag 'password', 'Password' %>
  <%= password_field_tag 'user[password]'%>
  </div>
  <%= submit_tag 'Create User' %>
  <% end %> -->



